<div class="u-small-indent">
    <!-- TODO: Select should be a separate reusable component -->
    <select class="Select"
            ng-class="{'empty': !$ctrl.selectedFilter.type}"
            data-ng-change="$ctrl.onSelectedFilter($ctrl.selectedFilter.type)"
            data-ng-model="$ctrl.selectedFilter.type">
        <option class="Select__placeholder"
                value="">
            Select filter type
        </option>
        <option class="Select__option"
                ng-repeat="type in $ctrl.filterTypes track by $index"
                value="{{::type[0]}}">
            {{::type[1]}}
        </option>
    </select>
    <br/>
    <div ng-if="!$ctrl.selectedFilter.type"
         class="UsefulInfo">
        You can use a filter to narrow
        <span class="u-inline-block">
            down amount of places on a map
        </span>
    </div>
    <div ng-if="$ctrl.selectedFilter.type">
        <typeahead force-list-value="true"
                   on-updated="$ctrl.filterValueChanged"
                   datasource="$ctrl.datasource">
        </typeahead>
        <button class="Btn"
                ng-click="$ctrl.onApplyBtnClicked()"
                ng-disabled="!$ctrl.selectedFilter.type ||
                !$ctrl.selectedFilter.value">Apply this filter
        </button>
    </div>
</div>
