<div class="u-small-indent">
    <div ng-if="!$ctrl.isFilterEnabled"
         class="GreyText">
        No applied filters yet
    </div>

    <div class="u-small-margin-bottom"
         ng-repeat="key in $ctrl.keys"
         ng-if="$ctrl.filterData[key].values.length">
        <button class="RemoveBtn"
                ng-click="$ctrl.onRemove(key)">
        </button>
        <a class="ClickableText u-force-single-line">
            {{::$ctrl.filterData[key].label}}
        </a>
        <div class="u-small-indent u-force-single-line"
             ng-repeat="value in $ctrl.filterData[key].values track by $index">
            <button class="RemoveBtn"
                    ng-click="$ctrl.onRemove(key, value)">
            </button>
            <span title="{{::value}}">{{::value}}</span>
        </div>
    </div>
</div>
