@value var-border-radius from './Variables.scss';

.RemoveBtn {
  border: 0;
  height: 24px;
  width: 24px;
  border-radius: var-border-radius;
  background-color: #932f2f;
  color: #c4c4c4;
  cursor: pointer;

  &::before {
    content: 'x';
  }

  &:hover {
    color: white;
    background-color: red;
  }
}

.Btn {
  width: 100%;
  border: 0;
  margin-top: 10px;
  cursor: pointer;
  border-radius: var-border-radius;
  padding: 10px 5px;
  background-color: #5aadbb;
  color: white;

  &:hover {
    background-color: #6cd0e1;
  }

  &[disabled] {
    pointer-events: none;
    background-color: transparent;
    border: 1px solid grey;
    color: grey;
  }
}