* {
    box-sizing: border-box;
}

.MapMarkerLabel {
    background-color: white;
    max-width: 80px;
    padding: 2px;
    border-radius: 3px;
    border: 1px solid;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 8px
}

.Select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 0;
}

.Input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 0;
}

.ClickableText {
    text-decoration: underline;
    cursor: pointer;
}

.LighterH4 {
    margin: 14px 0 0 0;
    font-weight: lighter;
}

.small-indent {
    padding: 10px;
}

.force-single-line {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}