.u-small-indent {
  padding: 5px 10px;
}

.u-small-margin-bottom {
  margin-bottom: 10px;
}

.u-force-single-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.u-inline-block {
  display: inline-block;
}
