<div id="main">
    <div id="menu">
        <tab nav="$ctrl.tabNavConfig">
            <div class="TabBody u-small-indent" data-tab-id="my-trip">
                <h4 class="LighterH4">Preferred mode:</h4>
                <hr>
                <div class="u-small-indent">
                    <select title="Select a travel mode" class="Select">
                        <option>Driving</option>
                    </select>
                </div>
                <h4 class="LighterH4">Trip information:</h4>
                <hr>
                <div class="u-small-indent">
                    Time: {{::$ctrl.travelTime}} hour(s)
                </div>
                <div class="u-small-indent">
                    Distance: {{::$ctrl.travelDistance}} km
                </div>
                <h4 class="LighterH4">Selected places:</h4>
                <hr>
                <div class="u-small-indent">
                    <div ng-if="!$ctrl.map.selectedPlaces.length"
                         class="GreyText">
                        No selected places yet
                    </div>
                    <div class="u-force-single-line u-small-margin-bottom"
                         ng-repeat="place in $ctrl.map.selectedPlaces track by $index">
                        <button class="RemoveBtn" ng-click="$ctrl.removeSelectedPlace(place)"></button>
                        <a class="ClickableText">{{::place.labelContent}}</a>
                    </div>
                </div>
            </div>
            <div class="TabBody u-small-indent" data-tab-id="filters">
                <h4 class="LighterH4">
                    Add a new filter:
                </h4>
                <hr/>
                <filter-configurator
                        on-apply-filter="$ctrl.addFilterValue"
                        filter-types="$ctrl.filterTypes">
                </filter-configurator>
                <h4 class="LighterH4">
                    All applied filters:
                </h4>
                <hr/>
                <filter-state
                        on-remove="$ctrl.removeFilterValue"
                        filter-data="$ctrl.filterData">
                </filter-state>
            </div>
        </tab>
    </div>
    <div id="map"></div>
</div>
